@import 'styles/scss/variables.scss';
@import 'styles/scss/_media.scss';

.section {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 $pagePadding;
	.wrapper {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		width: 892px;
		gap: 46px;

		@include media(laptop) {
			width: 100%;
		}

		.title {
			font-style: italic;
			@include media(tablet) {
				display: none;
			}
		}
		.titleBig {
			@include media(tablet) {
				display: none;
			}
		}

		.box {
			background: rgba(255, 255, 255, 0.7);
			border-radius: 16px;
			padding: 18px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			@include media(tablet) {
				padding: 16px;
			}

			.boxText {
				color: $orange;
				font-family: $aleoFontFamily;
				font-weight: 400;
				font-style: italic;
				font-size: var(--font-size-normal-2);
				line-height: var(--line-height-normal-2);
				margin-left: 20px;
			}
			.boxBtn {
				padding: 13.5px 33.5px;
				font-size: var(--font-size-normal-3);
				line-height: var(--line-height-normal-3);
				@include media(tablet) {
					padding: 7.5px 9px;
				}
			}
		}
	}
}
