@import 'styles/scss/variables.scss';

.p {
	margin: 0;
}

.m {
	font-family: $aleoFontFamily;
	font-weight: 400;
	font-size: $font-size-normal-2;
	line-height: $line-height-normal-2;
	color: $green;
}
