@import 'styles/scss/variables.scss';

.h {
	margin: 0;
}

.h1 {
	font-family: $aleoFontFamily;
	font-size: var(--font-size-big);
	line-height: var(--line-height-big);
	font-weight: 700;
	color: $white;
}

.h2 {
	font-family: $redHatTextFontFamily;
	font-weight: 500;
	font-size: var(--font-size-middle-3);
	line-height: var(--line-height-middle-3);
	color: $orange;
}

.h3 {
	font-family: $aleoFontFamily;
	font-weight: 400;
	font-size: var(--font-size-middle-2);
	line-height: var(--line-height-middle-2);
	color: $green;
}

.h4 {
	font-family: $aleoFontFamily;
	font-weight: 400;
	font-size: var(--font-size-normal-2);
	line-height: var(--line-height-normal-2);
	color: $white;
}
