@import 'styles/scss/variables.scss';
@import 'styles/scss/_media.scss';
.steps {
	margin-top: 100px;
	padding: 0 $pagePadding;
	@include media(tablet) {
		margin-top: 40px;
	}
	@include media(mobile) {
		margin-top: 20px;
		padding: 0 15px;
	}
	.wrapper {
		max-width: $maxWidth;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		.stepsList {
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 40px;
			@include media(tablet) {
				margin-top: 30px;
			}
			@include media(mobile) {
				margin-top: 20px;
			}
			.step {
				display: flex;
				flex-direction: column;
				gap: 30px;
				justify-content: center;
				align-items: center;
				@include media(mobile) {
					gap: 20px;
				}

				.stepIcon {
					width: 100px;
					height: 100px;
					background-color: $orange;
					border-radius: 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					@include media(tablet) {
						width: 80px;
						height: 80px;
					}
					@include media(mobile) {
						width: 70px;
						height: 70px;
					}
				}
				.stepText {
					color: $green;
					text-align: center;
					@include media(tablet) {
						width: 120px;
						word-wrap: break-word;
					}
					@include media(mobile) {
						width: 90px;
					}
				}
			}
		}
	}
}
