@import 'styles/scss/variables.scss';
@import 'styles/scss/_media.scss';

.htag {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
	@include media(tablet) {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	@include media(mobile) {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}
.stories {
	padding-bottom: 61px;
	background: no-repeat center bottom url('/images/stories-bg.png');
	background-size: cover;
	@include media(tablet) {
		background: no-repeat center bottom url('/images/stories-bg-mobile.png');
		background-size: cover;
	}
	.bgColor {
		padding: 40px 0 34px;
		background-color: $bgWhite;
	}
	.wrapper {
		max-width: $maxWidth;
		display: flex;
		flex-direction: row;
		gap: 40px;
		align-items: center;
		margin: 0 auto;
		padding: 0 $pagePadding;
		@include media(tablet) {
			padding: 0 15px;
		}

		.storiesList {
			display: flex;
			flex-direction: column;
			gap: 30px;

			@include media(tablet) {
				gap: 15px;
			}

			.storyItem {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 40px;
				padding: 15px 10px;
				border-radius: $borderRadius;
				cursor: pointer;
				transition: all ease-in-out 0.5s;

				@include media(tablet) {
					gap: 10px;
				}

				&:hover {
					background-color: rgba($color: #fff, $alpha: 0.9);
					box-shadow: $shadow;
					.storyLink {
						color: $orange;
					}
				}
				.storyImg {
					border-radius: 16px;
					filter: drop-shadow(0px 4px 4px #0d606f);
				}
				.storyLink {
					text-decoration: underline;
					color: $green;
					font-family: $aleoFontFamily;
					font-weight: 700;
					font-size: var(--font-size-normal-2);
					line-height: var(--line-height-normal-2);
					transition: all ease-in-out 0.5s;
				}

				.storyDesc {
					display: flex;
					flex-direction: column;
					gap: 24px;
					@include media(tablet) {
						gap: 10px;
					}
				}
			}
		}
	}
}
