//page constants
$maxWidth: 1440px;
$pagePadding: 40px;

//colors
$green: #0d606f;
$greenHover: #093e47;
$blue: #1877f2;
$white: #fff;
$orange: #f2785c;

$borderRadius: 10px;

//fonts
$aleoFontFamily: 'Aleo', serif;
$redHatTextFontFamily: 'Red Hat Text', sans-serif;
$magraFontFamily: 'Magra', sans-serif;
