//page constants
$maxWidth: 1440px;
$pagePadding: 40px;

//colors
$green: #0d606f;
$greenHover: #093e47;
$blue: #1877f2;
$white: #fff;
$orange: #f2785c;
$bgWhite: rgba(255, 255, 255, 0.7);

$borderRadius: 10px;

$shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
	0px 2px 3px rgba(13, 96, 111, 0.16);

//fonts
$aleoFontFamily: 'Aleo', serif;
$redHatTextFontFamily: 'Red Hat Text', sans-serif;
$magraFontFamily: 'Magra', sans-serif;
